*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(bacariaback\ ground.jpeg);
    background-size: cover;
    background-position: center;
    font-size: 15;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    
}
.navbar ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 50px; 
    
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(8, 8, 7);
    text-transform: uppercase;
}

.navbar ul li ::after  {
    content: '';
    height: 3px;
    width: 0;
    background: #f2fc31;
    position: absolute;
    left: 0;
    bottom: 30px;
    transition: 0.5s;
}

.navbar ul li :hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: rgba(23, 22, 22, 0.801);
    backdrop-filter: blur(0px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;

}

.content h1{
    font-size: 60px;
    margin-top: 80px; 
    font-family: 'Times New Roman', Times, serif;  
    
}

.content h2{
    font-size: 35px;
    margin-top: 15px; 
    font-family: 'Courier New', Courier, monospace;  
    
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: transparent;
    background: transparent;
    color: #2f2e2e89;
    cursor: pointer;
    font-size: medium;
    position: relative;
    overflow: hidden;
}

span{
    background: rgb(63, 123, 188);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border:none;
}

.white-link{
    color: #fff;
}

.sidebar{
    display: none;
}

.menu{
    display: none;
}

@media  screen and (max-width: 600px) {

    .banner{
        width: 100%;
        height: 100vh;
        background-image: url(bacariaback\ ground.jpeg);
        background-size:auto;
        background-position: auto;
        font-size: 10px;
    }

    .content h1{
        font-size: 25px;
        margin-top: 50px; 
        font-family: 'Times New Roman', Times, serif;  
        
    }
    
    .content h2{
        font-size: 30px;
        margin-top: 15px; 
        font-family: 'Courier New', Courier, monospace;  
        
    }
    
    .content p{
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
        font-family: 'Courier New', Courier, monospace;
    }

    .navbar{
        display :none;
    }

    .sidebar{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 65%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sidebar li{
        width: 100%;
    }

    .sidebar ul {
        list-style: none;
    }

    .sidebar a{
        width: 100%;
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
    }

    .sidebar a:hover  {
        background: rgba(51, 77, 207, 0.267);
        position:relative;
        transition: 0.5s;
       
    }

    .menu {
        padding: 50px;
        justify-content: end;
        display: flex;
        
    }

    .menu ul {
        list-style: none;
        
    }

    .white-link{
        color: #2a2828;
    }

    span{
        background: rgb(70, 136, 206);
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.35s;
    }

    

}