*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: antiquewhite;
    font-family: poppins;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.4rem;
    font-family: poppins;
}

.blog-heading strong{
    color: rgb(12, 12, 12);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: poppins;
    
}

.blog-box-container{
    display: grid; /*Makes Display as Grid instead of flex*/
    grid-template-columns: repeat(3, 1fr);/*3 in a row, starting from 4 move down*/
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    
}

.blog-box{
    max-width: 350px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}

.blog-box:hover{
    background-color: #ffffffa0;
    box-shadow: 16px 20px 50px rgba(0, 0, 0, 0.12);
}

.blog-box-img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.blog-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
    
}

.blog-img-link{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(42, 41, 41);
    box-shadow: 2px 2px 30px rgba(20,97,212,0.12);
    animation: fade 0.3s;
}

.blog-box:hover .blog-box-img a{
    display: flex;
}

.blog-box:hover .blog-box-img img{
    filter: blur(3px);
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.blog-box-text strong{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 10px;
    color: rgb(54, 52, 52);
    font-family: monospace;
    font-size: 0.9rem;
}

.blog-box-text p{
    
    flex-direction: column;
    padding: 10px 10px 15px 10px;
    display:none;
}
.blog-box:hover .blog-box-text p{
    display: flex;
}

.blog-author-text span{
    display: none;
    flex-direction: column;
    padding: 10px 5px 10px 10px;
    color: rgb(77, 75, 75);
    font-family: monospace;
    font-size: 0.8rem;
}

.blog-box:hover .blog-author-text span{
    display: flex;
}

/*COPY NAV BAR FROM HERE ALL THE WAY TO THE BOTTOM*/

.banner{ 
    width: 100%;
    height: 100vh;
    background-image: url(studentbackground.jpeg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar ul{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(20px);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 50px; 
    
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(16, 16, 15);
    text-transform: uppercase;
    font-family: monospace;
    
}

.navbar ul li ::after  {
    content: '';
    height: 3px;
    width: 0;
    background: #df4f4f;
    position: absolute;
    left: 0;
    bottom: 30px;
    transition: 0.5s;
}

.navbar ul li :hover::after {
    width: 100%;
}

.sidebar{
    display: none;
}


@media only screen and (max-width: 900px) {

    .grid{
        grid-template-columns: 1fr;
    }

    .banner{
        background-image: url(studentbackground.jpeg);
    }

    .navbar{
        display :none;
    }

    .sidebar{
        transform: translateX(-500px); /*Keep*/
        transition: 1s ease-out;
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        right: 0;
        height:auto; 
        width: 50%; 
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2)!important;
        backdrop-filter: blur(10px)!important;
        -webkit-backdrop-filter: blur(10px)!important;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: monospace;
        font-size: 10px;
    }

    .sidebar li{
        width: 100%;
        height: 10vh; /*Size Of each icons when the sidebar opened*/
    }

    .sidebar ul {
        list-style: none;
        height: 100vh; /*Size Of each icons when the sidebar opened*/
    }

    .sidebar ul li a{
        width: 100%;
        height: 100%;
        padding: 70px 55px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        transition: 0.2s ease-out;
    }

    .sidebar a{
        width: 100%;
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
    }

    .sidebar a:hover  {
        background: rgba(51, 77, 207, 0.267);
        position:relative;
        transition: 0.5s;
       
    }

    .menu {
        padding: 50px;
        justify-content: end;
        display: flex;
        padding-right: 35px;
        
    }

    .menu ul {
        list-style: none;
        
    }

    .grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .blog-box-container {
        display: flex;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        flex-direction: column; /* Make The blog Post to stack uppon each other! */
    }

    .blog-box-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .blog-box-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        padding-top: 20px;
    }

    .blog-img-link {
        position: absolute;
        width: 100%;
        display: block;
        text-align: center;
        background: transparent;
        display: none;
    }

    /*Animated Side Bar*/
    input{
        display: none;
        visibility: hidden;
        -webkit-appearance: none;
    }

    .toggle{
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50px;
        left: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #ffffff00;
        z-index: 1;
        cursor: pointer;
        border-radius: 2px;
    }

    .toggle .common{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #a025ab;
        border-radius: 50px;
        transition: 0.3s ease;
    }
    

    /*Menu Logo Editing START*/
    .toggle .top_line{
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .toggle .middle_line{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .toggle .bottom_line{
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    /*Menu Logo Editing END*/

    input:checked ~ .toggle .top_line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);

    }
    input:checked ~ .toggle .middle_line{
        opacity: 0;
        display: none;
        transform: translateX(20px);
        
    }

    input:checked ~ .toggle .bottom_line{
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
        
    }

    input:checked ~.sidebar {
        transform: translate(-215px); /*SHOW*/
    }

    #blog{
        background: linear-gradient(250deg,rgb(229, 177, 185),rgba(180, 54, 215, 0.667));
        background-color: bisque;
    }

    

}




